.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-gap: 40px;
  padding: 40px 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 300px;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-category {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.card-category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  align-items: left;
  text-align: left;
}

.card-price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
}
.card-content p {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 8px;
  color: rgb(23, 18, 18);
  text-align: left;
  align-items: left;
}

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
  border-radius: 10px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: fill;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 100px;
}

.card-category-show {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.card-trip-pricing {
  display: flex;
  align-items: inline;
  padding-left: 100px;
}
