.search-bar {
align-items: center;
// width: 150px;
// display: flex;
flex-direction: column;
height: 20px;
padding-top:0%;
border: white;
}

input {
  background-color: rgba(10, 10, 10, 0);
  color:white ;
  padding: 0.5rem;
}

::placeholder {
color: rgb(255, 254, 254);

}
