<div class="banner d-flex align-items-center" style="background-image: url(<%= asset_path("dark_landscape.jpeg") %>);">
  <div class="container text-white" >
    <h1>New listing</h1>

      <%= render "form", car: @car%>
    </div>
</div>
