<div class="banner d-flex align-items-center" style="background-image: url(https://res.cloudinary.com/dp3xfbod8/image/upload/v1685717046/dark_landscape_iqa6im.jpg);">
  <div class="container text-white" >
    <h1>New listing</h1>

      <%= render "form", car: @car%>
    </div>
</div>
